<!DOCTYPE html>
<html>
<head>
<title>Alpha Blog Assignment</title>
</head>
<body style = "background-color:powderblue">

<h1>About Page</h1>
<p>The Alpha Blog about page is to be used for information regarding the company or the history of the company.</p>
<p>For this instance it is being used to display a little information about the website designer. </p>

<%= link_to 'Home', root_path %>



<center><%= link_to image_tag 'Im not weird.jpg'%></center>


<footer>
    <small>Created by Suzanne Kendall</small>
</footer>

</body>

</html>















